services:
  terraform-ansible:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        - TERRAFORM_VERSION=${TERRAFORM_VERSION}
    hostname: docker-workspace
    environment:
      - TF_VAR_SSH_PUBLIC_KEY=${SSH_PUBLIC_KEY}
    env_file:
      - ./.env
    volumes:
      - ./terraform:/terraform
      - ./ansible:/ansible
      - ./private/ssh:/root/.ssh
