services:
  terraform-ansible:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        - TERRAFORM_VERSION=${TERRAFORM_VERSION}
    hostname: workspace
    env_file:
      - ./.env
    volumes:
      - ./terraform:/terraform
      - ./ansible:/ansible
      - homedir:/root
      - ${ID_RSA:-./dummy_id_rsa}:/root/.ssh/id_rsa:ro

volumes:
  homedir:
