locals {
  opennebula = {
    connection = {
      username = "ciber-xx"
      group    = "ciber-xx"
      token    = "4b8cf5....................................................c1cb11"
    }
    vm = {
      name    = "docker-opennebula"
      tag     = "debian-terraform"
      network = "ciber-xx"
      locked  = false
    }
    limits = {
      cpu    = 1
      vcpu   = 2
      memory = 2048
      disk   = 8192
    }
  }
  ansible = {
    connect_to_public_ip = false
  }
}

variable "SSH_PUBLIC_KEY" {
  type        = string
  description = "Clave pública del usuario para inyectar en las máquinas OpenNebula"
}
