locals {
  opennebula = {
    vm = {
      name     = "debian-docker"
      template = "Debian 12 - 20250222"
      network  = "ciber-xx"
      locked   = false
    }
    limits = {
      cpu    = 1
      vcpu   = 2
      memory = 2 * 1024
      disk   = 8 * 1024
    }
  }
  ansible = {
    connect_to_public_ip = false
    install_portainer    = false
  }
}

variable "SSH_PUBLIC_KEY" {
  type        = string
  description = "Clave pública del usuario para inyectar en las máquinas OpenNebula"
}
